@import "palette";
@import "mixins";
@import "typography";

.about {
	width: 100%;
	height: 100vh;

	background-image: url('../img/marrakesh.jpg');
	background-size: cover;



	@include flexy(column);
	
	align-items: flex-start;

	justify-content: flex-start;
	
	h2 {
		z-index: 1;
		position: fixed;
		margin-left: 20px;
	}

	.copy-holder {
		@include flexy(column);
		height: 100vh;
		width: 100%;
	}

	.background {
		background-color: $dark-warm-grey;
		mix-blend-mode: luminosity;
		opacity: 0.7;
	}

	.copy {
		z-index: 4;
		color: $white;
		padding: 0 15px 0;
		overflow-y: scroll;

		p {
			&:nth-child(1) {
				margin-top: 5px;
			}
		}
	}

	.copy, .background {
		width: 80%;
		height: 60%;
		position: absolute;
		top: 20%;
		left: 10%;
	}




}