@import "palette";
@import "mixins";
@import "typography";



.card {
	display: block;
	@include flexy(column);
	position: relative;
	align-items: flex-start;
	// justify-content: flex-start;

	// to not fill padding with background-color
	// background-clip: content-box;


	background-color: $white-50;
	color: $warm-grey;

	width: 46%;

	@include breakpoint($ipad) {
		width: 31%;
	}

	@include breakpoint($ipad-wide) {
		width: 23%;
	}

	margin: 0 1% 15px 1%;

	padding: 10px;

	.header {
		@include flexy(row);
		justify-content: space-between;

		padding: 0 5px;
		@include freight-bold;
		font-size: 0.8em;

		width: 100%;
	}

	.title {
	}

	.type {
		color: $red-orange;
	}

	.image {
		width: 100%;
		height: 140px;
		background-size: 100% auto;
	}

	.copy {
		@include freight-light;
		font-size: 1.2em;
	}
}