@import "palette";
@import "typography";
@import "breakpoints";

@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";


.home {
	width: 100%;
	height: 100vh;

	.typebreaker {
		width: 50%;

		@include breakpoint($ipad-wide) {
			width: 100%;
		}
	}

	background-image: url('/img/culebrita.jpg');
	background-size: cover;

	overflow: hidden;

	@include flexy(column);
	justify-content: flex-start;
	align-items: flex-start;

	h1 {
		font-size: 3.7em;
		line-height: 1.2em;

		color: $light-warm-grey;


		margin: 0;

		@include freight-light;

		@include breakpoint($big-phone) {
			font-size: 3.85em;
			line-height: 1.25em;
		}

		@include breakpoint($iphone6plusCatcher) {
			font-size: 4.6em;
			line-height: 1.3em;
		}

		@include breakpoint($ipad) {
			font-size: 8.3em;
			line-height: 1.1;
		}

		@include breakpoint($ipad-wide) {
			font-size: 8em;
			line-height: initial;
		}
	}



	.underline {
		width: 100%;
		height: 4px;
		margin: -10px 0 0 10px;
		background-color: $red-orange-80;
	}
	
	.ampersand {
		@include kepler;
		font-size: 25em;
		color: $light-warm-grey;
		opacity: 0.4;
		position: absolute;
		left: -38px;
		line-height: 1.15em;

		@include breakpoint($big-phone) {
			font-size: 29em;
		}

		@include breakpoint($iphone6plusCatcher) {
			font-size: 34em;
		}


		@include breakpoint($ipad) {
			top: 118px;
			font-size: 51em;
			line-height: 0.85em;
		}


		@include breakpoint($ipad-wide) {
			top: 152px;
			font-size: 30em;
			line-height: 0.85em;
		}
	}
}