@import "palette";
@import "typography";
@import "breakpoints";

@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";


.home {
	width: 100%;
	height: 100vh;

	background-image: url('/img/culebrita.jpg');
	background-size: cover;

	overflow: hidden;

	@include flexy(column);
	justify-content: flex-start;
	align-items: flex-start;

	h1 {
		font-size: 4em;
		line-height: 1.3em;

		color: $light-warm-grey;


		margin: 0;

		@include freight-light;

		@include breakpoint($ipad) {
			font-size: 8em;
			line-height: initial;
		}
	}



	.underline {
		width: 100%;
		height: 4px;
		margin: -10px 0 0 10px;
		background-color: $red-orange-80;
	}
	
	.ampersand {
		@include kepler;
		font-size: 29em;
		color: $light-warm-grey;
		opacity: 0.4;
		position: absolute;
		left: -38px;
		line-height: 1.15em;

		@include breakpoint($ipad) {
			top: 152px;
			font-size: 30em;
			line-height: 0.85em;
		}
	}
}