@import "palette";
@import "mixins";
@import "typography";

.menu {
	position: fixed;
	z-index: 10;

	right: 30px;

	@include flexy(row);
	justify-content: flex-start;

	&.home-menu {
		a {
			&:nth-child(1) {
				display: none
			}
		}
	}

	a {
		color: $white;
		font-size: 0.8em;
		text-decoration: none;

		width: 100%;

		@include flexy(row);
		justify-content: flex-start;

		@include base-transition;


		
		&:nth-child(1) {
			background-color: $red-orange-50;

			&:hover {
				background-color: $red-orange;
			}
			
		}

		&:nth-child(2) {
			background-color: $yellow-orange-50;

			&:hover {
				background-color: $yellow-orange;
			}
		}

		&:nth-child(3) {
			background-color: $lime-crazy-50;

			&:hover {
				background-color: $lime-crazy;
			}
		}

		&:nth-child(4) {
			background-color: $light-warm-grey-50;

			&:hover {
				background-color: $light-warm-grey;
			}
		}
	}

	&.home-menu {
		top: 5%;

		width: 23%;
		
		
		ul {
			@include flexy(column);
		}

		li {
			height: 30px;
		}
	}

	&.category-menu {
		top: 0%;
		
		ul {
			@include flexy(row);
		}

		li {
			height: 20px;
		}

	}

	ul {
		justify-content: flex-start;

		padding: 0;
		margin: 0;

		width: 100%;
		
		li {
			padding: 0 10px;
			

			width: 100%;

			@include freight-bold;

			@include flexy(row);
			justify-content: flex-start;

			
		}
	}

}