$white-20: rgba(255, 255, 255, 0.2);
$white-35: rgba(255, 255, 255, 0.35);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$white-85: rgba(255, 255, 255, 0.85);
$white: rgba(255, 255, 255, 1);

$very-light-grey: rgba(245, 245, 245, 1);
$lighter-grey: rgba(235, 235, 235, 1);
$light-grey: rgba(225, 225, 225, 1);
$grey-80: rgba(200, 200, 200, 0.8);
$grey-50: rgba(200, 200, 200, 0.5);
$grey: rgba(200, 200, 200, 1);
$mid-grey-70: rgba(170, 170, 170, 0.7);
$mid-grey: rgba(170, 170, 170, 1);
$dark-grey: rgba(100, 100, 100, 1);
$dark-cold-grey-15: rgba(100, 103, 105, 0.15);
$dark-warm-grey: rgba(80, 77, 75, 1);

$dark-warm-grey: rgba(52, 50, 48, 1);
// $dark-warm-grey: rgba(176, 130, 56, 1);
$warm-grey: rgba(114, 111, 106, 1);
$warm-grey-60: rgba(114, 111, 106, 0.6);
$warm-grey-40: rgba(114, 111, 106, 0.4);
$warm-grey-30: rgba(114, 111, 106, 0.3);
$warm-grey-20: rgba(114, 111, 106, 0.2);
$mid-warm-grey: rgba(170, 168, 166, 1);
$mid-warm-grey-50: rgba(170, 168, 166, 0.5);
$mid-warm-grey-85: rgba(170, 168, 166, 0.85);
$light-warm-grey-25: rgba(248, 247, 246, 0.25);
$light-warm-grey-35: rgba(248, 247, 246, 0.35);
$light-warm-grey-50: rgba(248, 247, 246, 0.5);
$light-warm-grey-75: rgba(248, 247, 246, 0.75);
$light-warm-grey-85: rgba(248, 247, 246, 0.85);
$light-warm-grey: rgba(248, 247, 246, 1);


$red-orange: rgba(255, 148, 129, 1);
$red-orange-20: rgba(255, 148, 129, 0.2);
$red-orange-50: rgba(255, 148, 129, 0.5);
$red-orange-80: rgba(255, 148, 129, 0.8);
$yellow-orange: rgba(255, 214, 129, 1);
$yellow-orange-20: rgba(255, 214, 129, 0.2);
$yellow-orange-50: rgba(255, 214, 129, 0.5);
$yellow-orange-80: rgba(255, 214, 129, 0.8);
$lime-crazy: rgba(241, 250, 127, 1);
$lime-crazy-50: rgba(241, 250, 127, 0.5);
$lime-crazy-30: rgba(241, 250, 127, 0.3);

$blue: rgba(116, 187, 230, 1);
$blue-20: rgba(116, 187, 230, 0.3);
$blue-50: rgba(116, 187, 230, 0.6);

$dark-blue: rgba(38, 143, 207, 1);

$bright-sage: rgba(116, 230, 166, 1);
$bright-sage-20: rgba(116, 230, 166, 0.2);
$bright-sage-50: rgba(116, 230, 166, 0.5);


