@import "palette";
@import "mixins";
@import "typography";
// @import "../../node_modules/sanitize.css/sanitize.css";

.slide {

	// width: 100%;
	height: 100%;

	flex: 0 0 auto;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	@include flexy(column);
	justify-content: flex-start;

	.title {
		flex: 0 0 auto;
		@include freight-bold;
		color: $white;
		font-size: 1em;
		// width: 80%;
		margin: 8px 0 10px 0;

		background-color: $yellow-orange-80;
		align-self: flex-start;
		// margin-left: 10%;
		padding: 0 20px;
	}

	.image {
		width: 100%;
		flex: 0 0 auto;
		cursor: pointer;
		margin-bottom: 15px;

		&.border {
			border: 1px solid $light-grey;
		}
		// height: 140px;


		img {
			width: 100%;
			height: auto;
		}


		div {
			height: 100%;
			width: auto;
			background-size: contain;
		}

	}

	.copy {

		width: 92%;

		@include breakpoint($big-phone) {
			width: 85%;
		}

		@include breakpoint($ipad) {
			width: 75%;
		}

		.link-style {
			@include base-transition;

			// background-color: $red-orange-20;
			background-color: $bright-sage-20;
			color: $warm-grey;

			&:hover {
				// background-color: $red-orange-50;
				background-color: $white;
			}
		}



	}

	// iframe {
	// 	margin-bottom: 15px;
	// }

	@include base-transition;

	&.leave {
		opacity: 0;

	}

	.facebookFlash {
		display: none;
	}

	#playerSSKim {
		margin-bottom: 20px;
	}

	.myphoto-flickr {
		width: 50px;
		height: 50px;
		background-size: cover;
		background-image: url('/img/social/flickr-white-large-chiclet.png');
		cursor: pointer;
	}

	// https://css-tricks.com/examples/hrs/
	.rule {
		border: 0;
    height: 1px;
    background: $mid-grey;
    background-image: linear-gradient(to right, $light-grey, $mid-grey, $light-grey);

    margin: 22px 0 32px 0;
  }
}