@import "palette";
@import "typography";
@import "mixins";

.slideshow {
	width: 100%;
	height: calc(100% - 90px);

	overflow: hidden;
	
	@include flexy(row)
	// justify-content: flex-start;
	flex: 1 1 auto;
	
	.slide-holder {
		background-color: $light-warm-grey-85;

		width: 95%;
		height: 100%;

		position: relative;

		.close {
			position: absolute;
			top: 0;
			right: 0;
			width: 35px;
			height: 20px;
			background-color: $red-orange;
			text-align: center;
			line-height: 20px;
			color: $white;
			@include freight-medium;
			cursor: pointer;

			&:hover {
				background-color: $yellow-orange;
			}
		}

	}

	.slide-strip {
		height: 100%;
		background-color: $blue-20;
		@include flexy(row);
		justify-content: flex-start;
	}

	

	.button {
		height: 100%;
		width: 30px;

		position: absolute;
		z-index: 5;
		background-color: none;

		color: $white;
		font-size: 1.7em;



		@include breakpoint($ipad) {
			font-size: 3em;
			position: static;
			background-color: $white-20;
			// color: $white;
			width: 100px;
		}

		&.left {
			left: 3px;

			@include breakpoint($ipad) {
				left: initial;
			}
		}

		&.right {
			right: 3px;

			@include breakpoint($ipad) {
				right: initial;
			}
		}

		@include flexy(row)

		@include freight;
		


		text-decoration: none;

		padding: 15px 15px;

		// to not fill padding with background-color
		background-clip: content-box;

		// position: absolute;

		&:hover {
			// background-color: $red-orange-80;
			color: $yellow-orange;
			background-color: $bright-sage-20;
		}
	}

	

	.example-enter {
	  opacity: 0.01;
	  transition: opacity .5s ease-in;
	}

	.example-enter.example-enter-active {
	  opacity: 1;
	}

	.example-leave {
	  opacity: 1;
	  transition: opacity .5s ease-in;
	}

	.example-leave.example-leave-active {
	  opacity: 0;
	}
}