@import "palette";
@import "typography";
@import "mixins";

.slideshow {
	width: 96%;
	height:96vh;

	margin: 2vh 2%;

	background-color: $light-warm-grey-85;

	// position: absolute;
	z-index: 5;

	.button {
		height: 100%;
		width: 100px;

		background-color: $red-orange-50;
		// position: absolute;

		&:hover {
			background-color: $red-orange-80;
		}
	}

	@include flexy(row)
	justify-content: space-between;
}