@import "palette";
@import "mixins";
@import "typography";
// @import "../../node_modules/sanitize.css/sanitize.css";

.slide {
	
	width: 100%;
	height: 100%;

	overflow-y: scroll;

	// background-color: $light-warm-grey-85;



	// display: none;

	@include flexy(column);
	justify-content: flex-start;

	.title {
		@include freight-bold;
		color: $white;
		font-size: 1em;
		// width: 80%;
		margin: 8px 0 0;

		background-color: $yellow-orange-80;
		align-self: flex-start;
		// margin-left: 10%;
		padding: 0 20px;
	}

	.image {
		width: 100%;
		// height: 140px;


		img {
			width: 100%;
			height: auto;
		// cursor: pointer;
		}
		
		// @include flexy(row);
		// justify-content: space-around;

		div {
			height: 100%;
			width: auto;
			background-size: contain;
		}

	}

	.copy {

		width: 75%;

		@include breakpoint($ipad) {
			width: 60%;
		}

	}

	iframe {
		margin-bottom: 15px;
	}

	@include base-transition;

	&.leave {
		opacity: 0;

	}
}