@import "palette";
@import "typography";
@import "mixins";

.slideshow {
	width: 96%;
	height:96vh;

	margin: 2vh 2%;

	// background-color: $light-warm-grey-85;

	// position: absolute;
	z-index: 5;

	.button {
		height: 100%;
		width: 100px;

		@include flexy(row)

		@include freight-light;
		font-size: 4em;

		color: $red-orange;

		text-decoration: none;

		// background-color: $red-orange-50;
		// position: absolute;

		&:hover {
			// background-color: $red-orange-80;
			color: $lime-crazy;
		}
	}

	@include flexy(row)
	justify-content: space-between;
}