@mixin freight-light {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 300;
	font-style: normal;
}

@mixin freight {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin freight-medium {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 500;
	font-style: normal;
}

@mixin freight-semibold {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin freight-bold {
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin kepler {
	font-family: "kepler-std-extended-display",serif;
	font-weight: 300;
	font-style: normal;
}