@import "palette";
@import "mixins";
@import "typography";

.work {
	width: 100%;
	height: 100vh;

	@include flexy(column);
	justify-content: flex-start;
	// align-items: flex-start;

	// background-image: url('../img/web.jpg');
	background-image: url('../img/white-pepper.jpg');
	background-size: cover;

	.work-header {
		@include flexy(row);
		justify-content: space-between;
		
		width: 95%;
		
		ul {
			@include flexy(row)
			@include freight-light;
			font-size: 1.3em;

			color: $lime-crazy;

			li {
				padding: 0 15px; 

				&:hover {
					background-color: $light-warm-grey-85;
					color: $white;
					cursor: pointer;
				}
			}
		}
	}

	.card-container {
		width: 95%;
		// align-self: center;

		@include flexy(row);
		justify-content: flex-start;
		flex-wrap: wrap;

		.card {
			display: block;
			@include flexy(column);
			position: relative;
			align-items: flex-start;
			// justify-content: flex-start;

			// to not fill padding with background-color
			// background-clip: content-box;


			background-color: $white-50;
			color: $warm-grey;

			width: 23%;

			margin: 0 1% 15px 1%;

			padding: 10px;

			.header {
				@include flexy(row);
				justify-content: space-between;

				padding: 0 5px;
				@include freight-bold;
				font-size: 0.8em;

				width: 100%;
			}

			.title {
			}

			.type {
				color: $red-orange;
			}

			.image {
				width: 100%;
				height: 140px;
				background-size: contain;
			}

			.copy {
				@include freight-light;
				font-size: 1.2em;
			}
		}
	}

	
}




