@import "palette";
@import "mixins";
@import "typography";

.work {
	width: 100%;
	height: 100vh;

	@include flexy(column);
	justify-content: flex-start;

	background-image: url('/img/white-pepper.jpg');
	background-size: cover;

	.work-header {
		@include flexy(row);
		justify-content: space-between;
		
		width: 95%;

		flex-grow: 0;
		flex-shrink: 0;
		
		ul {
			@include flexy(row)
			@include freight-light;
			font-size: 1.3em;

			color: $lime-crazy;

			li {
				padding: 0 15px; 

				&:hover {
					background-color: $light-warm-grey-85;
					color: $white;
					cursor: pointer;
				}
			}
		}
	}

	
}




