@import "../../node_modules/sanitize.css/sanitize.css";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

@import "breakpoints";

@import "menu";
@import "home";

@import "work";

@import "cardholder";
@import "card";

@import "slideshow";
@import "slide";

@import "about";



body {
	overflow: hidden;
}



h2 {
	font-size: 6em;
	color: $light-warm-grey;

	margin: 0;

	@include freight-light;
	line-height: 1.4em;

	.sub {
		font-size: 3.5em;
	}
}

li {
	list-style-type: none;
	color: inherit;
}
