node_modules
.DS_Store
images-working/iPhone-6-4-7-inch-Three-colors-Mockup-PIXEDEN
images-working/on/_MG_0837.psd
images-working/on/_MG_0851.psd
images-working/on.psd
images-working/work\ samples.psd